ul,h1,h2,h3,h4,h5,h6,body,input,p,dl,dt,li{
	margin: 0;padding: 0;
}
a{text-decoration: none;}
img{
	vertical-align: middle;
}
input,button{
	border: 0;
	outline: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  font-size: 14px;
}
i,em,b,strong{
	font-style: normal;
	font-weight: 500;
}
li{
	list-style: none;
}
body{
	font: 12px/1.5 Arial,simsun;
  text-align: left;
  color: #6B6B6B;
}
.clearall::after{
	content: "hh";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.center{
	color: #999;
	margin:0 auto;
  width: 1200px;
  cursor: pointer;
}
.header-bar{
    height: 200px;
    .dp-logo{
      height: 103px;
      text-align: center;
      position: relative;
      img{
        width: 187px;
        height: 73px;
        margin: 15px;
      }
    }
    .header-search{
      height: 40px;
      width: 500px;
      margin: 0 auto;
      .search-mid{
        width: 400px;
        // margin: 0 auto;
        float: left;
        position: relative;
        input{
          width: 400px;
          text-indent: 10px;
          float: left;
          height: 30px;
          overflow: hidden;
          margin: 0px 0px;
          border: 0px;
          color: #91847B;
          font-size: 12px;
          padding: 5px 0px;
          font-weight: bold;
          outline: none;
          background-color: #eee;
        }
        .search-btn{
          width: 30px;
          height: 30px;
          background: url(http://activity.dapuimg.com/dapu_homeseach.png) no-repeat 7px 7px;
          cursor: pointer;
          position: absolute;
          right: 5px;
        }
      }
      .relogin{
        width: 100px;
        height: 40px;
        float: left;
        line-height: 40px;
        background-color: rgb(177, 84, 79);
        text-align: center;
        a{
          color: #FFFFFF;
          font-family: "微软雅黑";
          cursor: pointer;
        }
        span{
          color: #FFFFFF;
          margin: 0 5px;
        }
      }
    }
    .header-menu{
      width: 1035px;
      height: 50px;
      margin: 8px auto 0;
      ul{
        overflow: hidden;
        li{
          float: left;
          color: #009688;
          font-family: 思源黑体;
          font-size: 16px;
          font-weight: bold;
          height: 50px;
          line-height: 50px;
          display: block;
          text-decoration: none;
          letter-spacing: 2px;
          width: 115px;
          text-align: center;
          :hover{
            color:#D36F16
          }
          a{
            color: #009688;
          }
        }
      }
    }
}

.dp-logo .username{
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 14px;
  color: #e1251b;
  height: 20px;
  line-height: 20px;
  width: 150px;
  text-align: center;
  // display: none;
}
.dp-logo .minecart{
  background: url(../image/cartcopy.png) no-repeat 5px 2px;
  position: absolute;
  top: 40px;
  right: 25px;
  height: 25px;
  width: 100px;
  line-height: 25px;
  font-size: 14px;
  text-indent: 25px;
  color: #e1251b;
  border: 1px solid #6B6B6B;
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: 600;
}


.footer{
  height: 220px;
  background: #eee;
  font: 12px/1.5 Arial,simsun;
  color: #6B6B6B;
  font-family: 微软雅黑;
  font-size: 13px;
}
.footer .footer-l{
  // background-color: green;
  width: 520px;
  height: 170px;
  padding: 25px;
  text-align: center;
  float: left;
  line-height: 30px;
  margin-left: 30px;
}
.footer .footer-l img{
  height: 15px;
  width: 15px;
}
.footer .footer-r{
  float: right;
  width: 550px;
  height: 170px;
  padding: 25px;
  // background: blue;
}
.footer .footer-r img{
  margin-top: 10px;
  margin-left: 80px;
}